<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Broker</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class=sign">
	<h1 style="color: #023e8a ;font-weight: bold">Your Broker</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="bedrooms" placeholder="bedrooms" required="required"/>
        <input type="text" name="bathrooms" placeholder="bathrooms" required="required" />
		<input type="text" name="sqft_living" placeholder="Living space (sqft)" required="required" />
        <input type="text" name="sqft_lot" placeholder="Total space (sqft)" required="required" />
        <button type="submit" class="btn">Predict house price</button>
    </form>

   <br>
   <br>
  <h3 style="color: #023e8a">{{ prediction_text }}</h3>

 </div>
</body>
</html>